_target_: navsim.agents.drivesuprim.drivesuprim_agent.DriveSuprimAgent
_convert_: 'all'
pdm_split: navtrain
metrics:
  - no_at_fault_collisions
  - drivable_area_compliance
  - time_to_collision_within_bound
  - ego_progress
  - driving_direction_compliance
  - lane_keeping
  - traffic_light_compliance
  - history_comfort

config:
  _target_: navsim.agents.drivesuprim.drivesuprim_config.DriveSuprimConfig
  _convert_: 'all'
  vocab_path: ${oc.env:NAVSIM_DEVKIT_ROOT}/traj_final/test_8192_kmeans.npy
  ckpt_path: drivesuprim_8192_ckpt
  vocab_size: 8192
  lidar_seq_len: 4
  sigma: 0.5
  trajectory_imi_weight: 1.0
  progress_weight: 2.0

  normalize_vocab_pos: True
  
  vadv2_head_nlayers: 3

  n_camera: 3

  camera_width: 2048
  camera_height: 512
  img_vert_anchors: 16
  img_horz_anchors: 64

  backbone_type: 'resnet34'
  vit_ckpt: ${oc.env:NAVSIM_EXP_ROOT}/models/da_vitl16.pth
  intern_ckpt: ${oc.env:NAVSIM_EXP_ROOT}/models/intern_object365.pth
  vov_ckpt: ${oc.env:NAVSIM_EXP_ROOT}/models/dd3d_det_final.pth
  lr_mult_backbone: 1.0

  trajectory_sampling:
    _target_: nuplan.planning.simulation.trajectory.trajectory_sampling.TrajectorySampling
    _convert_: 'all'
    time_horizon: 4
    interval_length: 0.1

  # robust settings
  training: True

  ego_perturb:
    _target_: navsim.agents.drivesuprim.drivesuprim_config.EgoPerturbConfig
    _convert_: 'all'
    mode: load_from_offline  # 'fixed' or 'load_from_offline'
    ensemble_aug: false
    offline_aug_file: null
    rotation:
      _target_: navsim.agents.drivesuprim.drivesuprim_config.RotationConfig
      enable: false
      fixed_angle: 0.0
      offline_aug_angle_boundary: 0.0
      change_camera: false
      crop_from_panoramic: true
    va:
      _target_: navsim.agents.drivesuprim.drivesuprim_config.VAConfig
      enable: false
      offline_aug_boundary: 0.0

  only_ori_input: false
  student_rotation_ensemble: 3
  ori_vocab_pdm_score_full_path: "aaa.pkl"
  aug_vocab_pdm_score_dir: "ccc"
  pdm_closed_traj_path: "bbb.pkl"
  weakly_supervised_imi_learning: false
  pdm_close_traj_for_augmented_gt: false
  traj_smoothing: false

  only_imi_learning: false

  soft_label_traj: 'first'
  soft_label_imi_diff_thresh: 1.0
  soft_label_score_diff_thresh: 0.15

  use_rotation_loss: false
  use_mask_loss: false

  refinement:
    _target_: navsim.agents.drivesuprim.drivesuprim_config.RefinementConfig
    use_multi_stage: true
    num_refinement_stage: 2
    stage_layers: "3+3"
    topks: "256+16"
    use_mid_output: true
    use_separate_stage_heads: true
  
  inference:
    _target_: navsim.agents.drivesuprim.drivesuprim_config.InferConfig
    model: teacher
    use_aug: true
  
  lab:
    _target_: navsim.agents.drivesuprim.drivesuprim_config.LabConfig
    num_top_k: 64
    test_full_vocab_pdm_score_path: "aaa"
    use_first_stage_traj_in_infer: false
    change_loss_weight: false
    use_imi_learning_in_refinement: true
    ban_soft_label_loss: false
    use_cosine_ema_scheduler: false
    ema_momentum_start: 0.99
    save_pickle: false


checkpoint_path: null
lr: 1e-4